body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#header {
    background-color: black;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* Estilo del título h1 */
  #header h1 {
    color: orange;
    text-align: left;
    margin: 0; /* Elimina el margen predeterminado del h1 */
  }
  
  /* Estilo del subtítulo p */
  #header p {
    color: gray;
    margin-top: 5px; /* Agrega un pequeño espacio entre h1 y p */
  }

#nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
}

#nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

#section {
    padding: 20px;
}

#footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}